*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    height: 100%;
    background:  #151E3F;
}
.grid-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "header"
        "header"
        "section"
        "section"
        "section"
        "section"
        "footer";
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #151E3F, #23B5D3);
    overflow: hidden;
}

/* header */
.header{
    width: 100%;
    height: 100%;
    grid-area: header;
    background: #151E3F;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: headerAnimation 5s ease-in-out infinite;
}
@keyframes headerAnimation {
    0%,100%{
        clip-path: polygon(100% 0%, 100% 80%, 90% 73%, 79% 69%, 67% 67%, 54% 68%, 43% 74%, 30% 78%, 16% 76%, 6% 70%, 0 64%, 0% 0%);
    }
    50%{
        clip-path: polygon(100% 0%, 100% 77%, 89% 83%, 78% 83%, 64% 81%, 51% 76%, 41% 72%, 28% 71%, 15% 71%, 5% 74%, 0 77%, 0% 0%);
    }
}
.headerLayer{
    position: absolute;
    width: 100%;
    height: 270px;
    opacity: 0.9;
    z-index: -10;
}
/* logo */
.companyLogoContainer{
    position: relative;
    width: 300px;
    height: 100px;
    margin-top: 1rem;
}
.companylogo{
    position: absolute;
    background: linear-gradient(to top,#151E3F, #00AFB5);
    border: 3px solid #000;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    display: flex;
}
.companylogo img:nth-child(1){
    width: 150px;
    height: 100px;
    opacity: 0.5;
}
.companylogo img:nth-child(2) {
    width: 150px;
    height: 80px;
    opacity: 0.5;
}
.companylogoLayer{
    position: absolute;
    width: 300px;
    height: 100px;
    border: 3px solid #000;
    border-radius: 10px;
    background: #03a8f4af;
    animation: waterAnimation 4s ease-in-out infinite;
}
@keyframes waterAnimation {
    0%,100%{
        clip-path: polygon(100% 100%, 0% 100%, 0% 36%, 10% 33%, 21% 34%, 33% 38%, 41% 46%, 53% 54%, 65% 55%, 79% 53%, 92% 47%, 100% 43%);
    }
    50%{
        clip-path: polygon(100% 100%, 0% 100%, 0 40%, 8% 43%, 16% 48%, 26% 51%, 38% 54%, 51% 50%, 63% 40%, 75% 34%, 88% 32%, 100% 36%);
    }
}
/* main title */
.title{
    font-size: 6rem;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    z-index: 10;
    margin-bottom: 1rem;
}

/* section */
.section{
    width: 90%;
    height: 100%;
    grid-area: section;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* font-family: 'Balsamiq Sans', cursive; */
    font-family: 'Montserrat', sans-serif;
}
.text{
    text-align: center;
    color: #151E3F;
}
.title2{
    font-size: 3rem;
    
    font-weight: bolder;
}
.subtitle{
    font-size: 1.5rem;
}
/* form screen */
#regForm{
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 10px; 
    background: #151E3F;
    color: #fff;
    font-family: 'Balsamiq Sans', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tab{
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    text-align: center;
}
.tab h3 {
    margin-bottom: 15px;
}
.tab input{
    width: 15rem;
    height: 1.8rem;
    border-radius: 10px;
    border: 0.1rem solid #151E3F;
    margin-bottom: 5px;   
}
.tab label {
    margin-left: 5px;
}
.experinceInput, .attendingInput, .gearInput{
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 2px 0px;
}
.thankForSubmit{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#prevBtn, #nextBtn {
    padding: 5px 15px;
    border-radius: 15px;
    background: #23B5D3;
    color: #151E3F;
    cursor: pointer;
}
/* footer */
.footer {
    width: 100%;
    height: 100%;
    grid-area: footer;
    justify-self: center;
    align-self: center;
    background: #151E3F;
    opacity: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 10px #151E3F;
}
.contectUs{
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contectUs img{
    width: 30px;
    height: 30px;
}
.contectUs a{
    width: 30px;
    height: 30px;
    margin: 0px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.contectUs a:hover {
    transform: translate(-10%, -5%);
    box-shadow: 2px 2px 8px 2px #fff;
}
::-webkit-input-placeholder {
    color: #151E3F;
}

/* responsive */
@media (max-width: 1250px){
    .title{
        font-size: 5rem;
    }
}
@media (max-width: 1030px){
    .title{
        font-size: 4rem;
    }
    .subtitle {
        font-size: 20px;
    }
    #regForm {
        margin: 5px 0px;
        height: 280px;
        padding: 10px;
    }
    .tab input {
        height: 1.7rem;
    }
}
@media (max-width: 840px){
        .title {
            font-size: 3rem;
        }
        .title2 {
            font-size: 25px;
        }
    
        .subtitle{
            font-size: 20px;
        }
        .tab input {
            height: 1.5rem;
        }
        #prevBtn,
        #nextBtn {
            padding: 3px 10px;

        }
}
@media (max-width: 620px) {
    .grid-container{
        justify-content: center;
        align-items: center;
    }
    .title {
        font-size: 3rem;
        margin-bottom: 4rem;
    }
    .section{
        flex-direction: column;
        margin: auto;
    }
}

@media (max-width: 520px) {
    .title {
        font-size: 2.5rem;
        margin-top: 7px;
        text-align: center;
    }
    .footer{
        width: 50%;
    }
}
@media (max-width: 460px) {
    .title {
        width: 75%;
        font-size: 2.2rem;
        margin-bottom: 6.5rem;
    }
    .section{
        width: 50%;
    }
    .title2{
        font-size: 2rem;
    }
    .subtitle{
        font-size: 1rem;
    }
    #regForm{
        margin: 5px 0px;
        width: 250px;
        height: 300px;
        padding: 15px;
    }
    .tab h3 {
        font-size: 1.2rem;
    }
    .tab input {
        height: 1.5rem;
        width: 12rem;
    }
    .tab label {
        font-size: 0.8rem;
    }
    .thankForSubmit {
        font-size: 1rem;
        text-align: center;
    }
    .footer {
        height: 20%;
    }
    #prevBtn,
    #nextBtn {
        padding: 2px 10px;
    }
}
@media (max-height: 650px) {
    .title {
            margin-top: -90px;
            font-size:3.5rem;
    }

    .text{
        width: 50%;
    }

    .tab h3 {
        font-size: 1rem;
    }

    .tab label {
        font-size: 0.8rem;
    }
    #prevBtn,
    #nextBtn {
        padding: 3px 6px;
        font-size: 12px;
    }
    .footer {
        height: 50%;
    }
    .contectUs img {
        width: 25px;
        height: 25px;
    }
}
@media (max-height: 400px) {
    .headerLayer {
        height: 100px;
    }
    /*  */
    .companyLogoContainer {
        position: relative;
        width: 300px;
        height: 50px;
        margin-top: 0.2rem;
    }

    .companylogo {
        width: 300px;
        height: 80px;
    }
    .companylogo img:nth-child(1) {
        width: 130px;
        height: 90px;
    }
    .companylogo img:nth-child(2) {
        width: 130px;
        height: 70px;
    }
    .companylogoLayer {
        width: 300px;
        height: 80px;
    }
    /*  */
    .title {
            margin-top: -30px;
            font-size: 2.5rem;
    }
    .section{
        overflow-y: scroll;
    }
    .text {
        width: 50%;
    }
    .title2 {
        font-size: 1.8rem;
    }

    .subtitle {
        font-size: 0.9rem;
    }
    #regForm {
        margin: 5px 0px;
        width: 200px;
        height: 210px;
        padding: 3px;
    }
    .container{
        height: 100%;
    }
    .tab h3 {
        font-size: 0.8rem;
    }
    .tab label {
        font-size: 0.7rem;
    }
    .tab input{
        width: 10rem;
        height: 1.1rem;
        margin-bottom: 0px;
    }
    .tab select{
        width: 10rem;
        height: 1.2rem;
    }
    .thankForSubmit h2{
        font-size: 1.2rem;
    }
    #prevBtn,
    #nextBtn {
        padding: 1px 6px;
        font-size: 0.7rem;
        margin-bottom: 1rem;
    }
    .footer {
        height: 50%;
    }
    .contectUs img {
        width: 25px;
        height: 25px;
    }
}